<div class="wrapper__about">
    <div class="wrapper__add-photo">
        <a href="/my-musics/upload-new-musics-form">
            <button class="button upload-video-btn"><img src="/img/upload.png"></button>
        </a>
        <h2 class="mt-10">Now you have - <span class="count__track">{{countMusic}}</span> tracks</h2>
    </div>

    <div class="wrapper__musics">
        {{#each musics}}
            <div class="wrapper__musics-item" id="{{this.idMusic}}">
                <div class="wrapper__musics-item-author-name mt-5 mb-5">
                    {{this.author}} - {{this.name}}
                    <button class="button alert delete-music-btn">Delete</button>
                </div>
                <audio data-role="audio-player" preload="metadata" data-src="/user/music/audio/{{this.idMusic}}" class="light"></audio>
            </div>
        {{/each}}
    </div>

    {{#if loadMore}}
        <button class="load-more-musics-btn button dark mt-10">Load more musics</button>
    {{/if}}

</div>
