<div class="wrapper__video">
    <div class="wrapper__add-photo">
        <a href="/my-video/upload-new-video-form">
            <button class="button upload-video-btn"><img src="/img/upload.png"></button>
        </a>
    </div>

    <div class="wrapper__nav-video">
        <nav>
            <a href="/my-video/" class="active-my-video-link">Public video</a>
            <a href="/my-video/private-video" class="my-video-link">Private video</a>
        </nav>
    </div>

    <div class="wrapper__video-content">
        {{#if video}}
        {{#each video}}
            <div class="wrapper__video-content-item" id="{{this.idVideo}}">
                <h4>{{this.name}}</h4>
                <div class="wrapper__video-content-item-container-del-btn-menu">
                    <div class="wrapper__video-content-item-decoration-menu">
                        <div class="wrapper__video-content-item-decoration-menu-decoration"></div>
                        <div class="wrapper__video-content-item-decoration-menu-decoration"></div>
                        <div class="wrapper__video-content-item-decoration-menu-decoration"></div>
                    </div>
                    <ul class="wrapper__video-content-item-menu-hide">
                        <li>
                            <button class="make-private-video-btn" id="{{this.idVideo}}">Make private video</button>
                        </li>
                        <li>
                            <a href="/my-video/change-params-video/{{this.idVideo}}">
                                <button>Change params video</button>
                            </a>
                        </li>
                        <li>
                            <button class="delete-video-btn" id="{{this.idVideo}}">Delete video</button>
                        </li>
                    </ul>
                </div>
                <video data-role="video-player" data-src="/my-video/{{this.idVideo}}" preload="metadata">
                </video>
                {{#if this.description}}
                    <button class="columns__photo-description-toggle-btn mt-2 w-100 button primary">Show description</button>
                    <div class="columns__photo-description">
                        {{this.description}}
                    </div>
                {{/if}}
            </div>
        {{/each}}
        {{else}}
        <h2 class="mt-10">You don't have public video :(</h2>
        {{/if}}
    </div>

    {{#if loadMore}}
        <button class="load-more-video-btn button dark">Load more video</button>
    {{/if}}
</div>
