<strong class="username-active-user">{{activeUser}}</strong>
<div class="wrapper__about">
    <div class="wrapper__another-user-avatar">
        {{#if avatarAnotherUser}}
            <img src="/account-settings/avatar/{{avatarAnotherUser}}" />
        {{else}}
            <img src="/img/user.png">
        {{/if}}
        
        {{#if auth}}
            <a href="/chat/{{activeUser}}">
                <button class="button primary">Send message</button>
            </a>
        
            {{#if pendingFriend}}
                <div>Friend request pending ...</div>
            {{else}}
                {{#if alreadyFriend}}
                    <div>Already friend</div>
                {{else}}
                    <a href="/user/add-friend/{{activeUser}}">
                        <button class="button primary">Add to friends</button>
                    </a>
                {{/if}}
            {{/if}}
        {{/if}}
    </div>

       <div class="wrapper__nav-another-user">
        <a href="/user/photo/{{activeUser}}">
            <img src="/img/photo.png">
        </a>
        <a href="/user/music/{{activeUser}}">
            <img src="/img/music.png">
        </a>
        <a href="/user/video/{{activeUser}}">
            <img src="/img/video.png">
        </a>
        <a href="/user/articles/{{activeUser}}">
            <img src="/img/article.png">
        </a>
    </div>
</div>
<div class="wrapper__video">
     {{#if video}}
    <div class="wrapper__video-content">
        {{#each video}}
            <div class="wrapper__video-content-item" id="{{this.idVideo}}">
                <h4>{{this.name}}</h4>
                <video data-role="video-player" data-src="/user/video/track/{{this.idVideo}}" preload="metadata">
                </video>
                {{#if this.description}}
                    <button class="columns__photo-description-toggle-btn mt-2 w-100 button primary">Show description</button>
                    <div class="columns__photo-description">
                        {{this.description}}
                    </div>
                {{/if}}
            </div>
        {{/each}}
    </div>
    {{else}}
        <h2 class="mt-10" >{{activeUser}} don't have video :(</h2>
    {{/if}}

    {{#if loadMoreVideo}}
    <button class="load-more-video-btn button dark" id="{{activeUser}}">Load more video</button>
    {{/if}}
</div>