<strong class="username-active-user">{{activeUser}}</strong>
<div class="wrapper__about">
    <div class="wrapper__another-user-avatar">
        {{#if avatarAnotherUser}}
            <img src="/account-settings/avatar/{{avatarAnotherUser}}" />
        {{else}}
            <img src="/img/user.png">
        {{/if}}
        
        {{#if auth}}
            <a href="/chat/{{activeUser}}">
                <button class="button primary">Send message</button>
            </a>
        
            {{#if pendingFriend}}
                <div>Friend request pending ...</div>
            {{else}}
                {{#if alreadyFriend}}
                    <div>Already friend</div>
                {{else}}
                    <a href="/user/add-friend/{{activeUser}}">
                        <button class="button primary">Add to friends</button>
                    </a>
                {{/if}}
            {{/if}}
        {{/if}}
    </div>

    <div class="wrapper__nav-another-user">
        <a href="/user/photo/{{activeUser}}">
            <img src="/img/photo.png">
        </a>
        <a href="/user/music/{{activeUser}}">
            <img src="/img/music.png">
        </a>
        <a href="/user/video/{{activeUser}}">
            <img src="/img/video.png">
        </a>
        <a href="/user/articles/{{activeUser}}">
            <img src="/img/article.png">
        </a>
    </div>

    <div class="wrapper__articles">
        {{#if articles}}
        {{#each articles}}
            <div class="wrapper__article mt-5 mb-5">
                <div class="wrapper__article-logo">
                    <h2 class="wrapper__article-logo"><strong>Title: </strong>{{this.title}}</h2>
                </div>
                <h4 class="wrapper__article-theme"><strong>Theme: </strong>{{this.theme}}</h4>
                <h6 class="wrapper__article-date pt-10">{{this.date}}</h6>
                <a href="/user/articles/article/{{this.idArticle}}" class="read-article-link">Read</a>
            </div>
        {{/each}}
        {{else}}
            <h2 class="mt-10">{{activeUser}} don't have articles :(</h2>
        {{/if}}
    </div>  
    {{#if loadMore}}
        <button class="load-more-articles-btn button dark" id="{{activeUser}}">Load more articles</button>
    {{/if}}
</div>